html{
	font-size: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Barlow', sans-serif;
	letter-spacing: .1em;
	touch-action: pan-y;
}
nav{
	top:0;
	width: 100vw;
	height: 60px;
	display:flex;
	justify-content: center;
	flex-direction: row;
}
.language-selector{
	background-color: transparent;
	position: relative;
	cursor:pointer;
	height: 60px;
	width: 150px;
	font-weight: 300;
	font-size: 1.5em;
	text-align: center;
	border:0;
	bottom:0;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	text-indent: 1px;
  	text-overflow: '';
    	cursor: pointer;
}
.language-selector option{
	font-size: 1em;	
}
#title-container{
	margin-top: 0;
	margin-bottom: 0;
	width: 200px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
#title{
	font-size: 2.3em;
	height: 40px;
	margin:0;
	font-weight: 700;
	text-align: center;
}
#puzzle-number{
	font-size: 1.5em;
	font-weight: 300;
	height: 20px;
	margin:	0;
	text-align: center;
}
body{
	z-index: 2;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	min-width: 500px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#puzzle-select-ribbon{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	padding : 0;
	height: 50px;
	width: 500px;
	display: flex;
	justify-content: space-around;
}
#puzzle-select-ribbon button{
	cursor:pointer;
	height:2em;
	width:8em;
	text-align: center;
	vertical-align: center;
	border: 1pt solid black;
	border-radius: .5em;
}
#puzzle-select-ribbon .active{
	background-color: rgb(100,255,100);
}
#mid-section{
	display: flex;
	height: 60%;
	position: relative;
	margin: 0;
	justify-content: space-around;
	width: 100%;
}
.adsbygoogle{
	width: 12%;
	height: 100%;
}
#cardbox{
	position: relative;
	margin: 0;	
	padding: 0;
	height: 100%;
	min-height: 10%;
	width: 50%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(6,1fr);
}

@media screen and (max-width:1000px),screen and (max-height: 1000px){
	.card{
		font-size: min(3.2vw,3.2vh) !important;
	}
}
.card{
	user-select: none;
	border: 1px solid black;
	cursor:pointer;
	border-radius: 1em;
	margin: 2px;
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	transition-duration: 100ms;
	padding:0 1%;
	overflow: hidden;
	word-wrap: break-word;
}
.unsolved:hover{
	background: rgb(100,255,100) !important;
	border-style: 'dashed';
	border-color: black;
	border-width: 1;
}
#heart-box{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	padding : 0;
	height: 3em;
	width: 9em;
	display: inline-flex;
	justify-content: center;
}
#heart-box img {
	height: 3em;
	width: 3em;
	background-color: transparent;
}
#buffer-image{
	background-color: transparent;
	height: 3em;
	width: 3em;
}
#endgame-messagebox{
	font-size: 1.2em;
	margin:0;
	height:1.2em;
	width: 100vw;
	text-align: center;
}
@media only screen and (max-device-width: 770px){
	body{
		min-width: 200px;
		height: 90vh;
	}
	.card{
		transition-duration: 0ms;
	}
	#title{
		width: 150px;
		font-size: 1.6em;
	}
	#puzzle-number{
		font-size: 1em;
	}
	.language-selector {
		width: 80px;
		font-size: 1em;
	}
	.language-selector option{
		font-size: 1em;
	}
	#puzzle-select-ribbon{
		height: 25px;
		width: 200px;
	}
	#puzzle-select-ribbon button{
		width: 6em;
		height: 2em;
		font-size: .5em;
	}
	#endgame-messagebox{
		font-size: .2em;
	}
	#heart-box{
		width: 120px;
	}
	#heart-box img{
		height: 40px;
		width: 40px;
	}
}
#visit-alert{
	z-index: 99;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding:0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,255,255,.8);
}
#alert-box{
	z-index: 100;
	margin: 0;
	padding: 0;
	background-color: white;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: fit-content;
	width: fit-content;
	max-width: 50%;
	border: 2pt solid black;
	border-radius: 2em;
}
#alert-box p{
	font-size: 1.4em;
	margin: 1.4em .7em;
	margin-bottom: .7em;
}
#alert-box button{
	padding: 0;
	z-index: 101;
	margin-bottom: .7em;
	background-color: rgb(0,220,0);
	text-align: center;
	cursor:pointer;
	font-weight: 200;
	height: 5em;
	width: 10em;
	border: none;
	border-radius: .5em;
}
#icon-container{
	margin-top: -50px;
	height: 50px;
	width: 50%;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
}
.icon-container{
	height: 100%;
	width: calc(50% - 72px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}
.icon-button{
	width: 32px;
	height: 32px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin:0;
	padding:0;
	image-rendering: crisp-edges;
	background-position: center;
	background-repeat: no-repeat;
}
#coffee-button{
	background-color: rgb(255,221,0);
	background-image: url("./assets/coffee.png");
	background-size: 32px 32px;
	text-decoration: none;
	color: black;
}
#share-button{
	background-image: url('./assets/share.png');
	background-size: 32px 32px;
}

.tooltip{
	pointer-events: auto;
	position: relative;
	z-index: 500;
	transition-duration: 0;
	line-height: 32px;
	margin:0;
	margin-top: -30px;
	width: 160px;
	height: 32px;
	background-color: white;
	border-radius: .5em;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	visibility: hidden;
	left: -64px;
	top: -4px;
}
#coffee-button p{
	background-color: rgb(255,221,0);
}

.copy-active{
	transition-duration: 1000ms;
}
.icon-button:hover > .tooltip{
	visibility: visible ;
}